.header, .footer {
    background-color: #1F2937;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.header .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.headermain {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
